@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    background: #fffdfa;
    font-family: 'Inter', 'Work Sans';

    --text-primary: #133020;
}

@font-face {
    font-family: 'Work Sans';
    font-weight: 100 900;
    src: url('./assets/Fonts/Work Sans/WorkSans-VariableFont_wght.ttf') format('TrueType');
}

@font-face {
    font-family: 'Work Sans';
    font-weight: 100 900;
    font-style: italic;
    src: url('./assets/Fonts/Work Sans/WorkSans-Italic-VariableFont_wght.ttf') format('TrueType');
}

@font-face {
    font-family: 'Inter';
    font-weight: 100 900;
    src: url('./assets/Fonts/Inter/Inter-VariableFont_opsz,wght.ttf') format('TrueType');
}

@font-face {
    font-family: 'Inter';
    font-weight: 100 900;
    font-style: italic;
    src: url('./assets/Fonts/Inter/Inter-Italic-VariableFont_opsz,wght.ttf') format('TrueType');
}
