/* Body */
body {
    display: grid;
    align-content: center;
    height: 100vh;
}

/* Container */
#container {
    display: grid;
    grid-template-rows: 0.25fr 1fr 0.8fr;
    justify-items: center;   
    gap: 24px;
}

/* Logo */
#container > h1 {
    font-size: 40px;
    font-weight: 900;
}

/* Form */
#container > form {
    display: grid;
    width: 78%;
    gap: 16px;
    text-align: center;
}

#container > form > #oauth-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    justify-content: center;
}

/* RouterLink */
#container > a {
    align-self: end;
}

* a {
    font-weight: bold;
}
